{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
	<title>Finale - Login</title>
</head>

<body>

{% block content %}

<div class="container">


<h1> Login </h1>


<form action="" method=POST>
	{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" value="Submit" class="btn btn-secondary">
  <br>
  <br>
  <p> No Account? Register <a href='create_user'> Here</a>.</p>
</form>
</div>
{% endblock %} 

</body>
</html>