{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
  <title>Finale - Make a Reservation</title>
</head>
<body>

  {% block content %}
    {% if user.is_authenticated %}
        {% if user.username == "PizzaMax" or user.username == "BurgerKing" or user.username == "FireSH" %}
      <div class="container text-center">
        <p id="user">{{ user.username }}</p>
        <h1> You are not authorised to use customer services. Please navigate to your relative company page.</h1>
      </div>
        {% else %}
    <div class="container text-center">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
    {% endif %}
    {% else %}
    <div class="container text-center">
      <h2>You are not logged in. Please log in <a href="{% url 'login' %}">here</a> to use our services</h2>
    </div>
    {% endif %}
  {% endblock %}
  
</body>
</html>
