{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
  <title>Finale - Delivery Order Details</title>
</head>
<body>
  
  {% block content %}
    <div class="container text-center">
      <h1>Delivery Details</h1>
      <p id="detailWarning">(Please take a screenshot or note down<br>your details to show to your delivery driver upon arrival)</p>
      <p>Delivery ID: {{ form.instance.deliveryID }}</p>
      <p>Customer: {{ form.instance.customer }}</p>
      <p>Address: {{ form.instance.address }}</p>
      <p>Order: {{ form.instance.order }}</p>
      <p>Price: €{{ form.instance.price }}</p>
      <p>Notes: {{ form.instance.notes }}</p>
      <br>
      <p><a href="{% url 'home' %}">Return to homepage.</a></p>
    </div>
  {% endblock %}

</body>
</html>
