body {
    background-color: pink ;
    text-align: center;
    margin: auto;
}

.cards {
    position: absolute;
    left: 36%;
}

.bookForm {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 30%;
}


