 body {
    text-align: center;
 }

#userID {
/*  display: none;*/
}

#output {
  color: pink;
}
.container{
    background-color: black;
    color: white;
    border: 15px double;
    border-color: #ff6ec7 #00f0ff #00f0ff #ff6ec7;
}

.text {
  position: relative; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="CharField"] textarea {
  background-color: #474747;
  color: white;
}

.top {
    color: white;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  margin-top: 10px;
}
